<html>
    <head></head>
    <body>
        <pre> EXATA SOLUSI KREATIF PT telah melakukan transfer dana dengan informasi sebagai berikut:
 Tanggal           : 14/04/2026
 Jam               : 18:23:39
 Pengirim          : EXATA SOLUSI KREATIF PT
 Rekening Tujuan   : 697-5705033
 No. Referensi     : 000019112411134006
 Nominal           : Rp 10.853.808
 Berita            : NENKIN 20 PERSEN
                     3-3 C14042026

 Catatan:
 Biaya Termasuk PPN (Bila ada)
 PT. BANK CENTRAL ASIA TBK.
 MENARA BCA - JAKARTA PUSAT
 NPWP  001.308.449.6-091.000 

 Semoga informasi ini bermanfaat bagi Anda.
 Terima kasih.

 Hormat Kami,

 PT. Bank Central Asia,Tbk
 ------------------------------------------------------------------------------
 EXATA SOLUSI KREATIF PT has done fund transfer with the following information:
 Date              : 14/04/2026
 Time              : 18:23:39
 Sender            : EXATA SOLUSI KREATIF PT
 To Account        : 697-5705033
 Reference No.     : 000019112411134006
 Amount            : Rp 10.853.808
 Remark            : NENKIN 20 PERSEN
                     3-3 C14042026

 Notes:
 Charges VAT Inclusive (If any)
 PT. BANK CENTRAL ASIA TBK.
 MENARA BCA - JAKARTA PUSAT
 NPWP  001.308.449.6-091.000 

 We hope this information is useful for you.
 Thank you.

 Best regards,

 PT. Bank Central Asia,Tbk
 ------------------------------------------------------------------------------
</pre> 
    </body>
</html>