<html>
    <body>
	<img src="logo_bni.png"/>
	<br><br>
	<FONT face="arial">
	<p>Berikut kami informasikan transaksi yang telah dilakukan dengan detail sebagai berikut:<br></p><br>
	<table>
		<FONT face="arial">
		<tr>
			<td>No. Referensi BNI</td>
			<td>:</td>
			<td>202606100010954807</td>
		</tr>
				<tr>
			<td>No. Referensi Customer</td>
			<td>:</td>
			<td>90620260752010</td>
		</tr>
				<tr>
			<td>Tanggal/Jam</td>
			<td>:</td>
			<td>10-Jun-2026 10:03:00</td>
		</tr>
		<tr>
			<td>Jenis Transaksi</td>
			<td>:</td>
			<td>Bulk Payment - In House Transfer</td>
		</tr>
		<tr>
			<td>Nominal</td>
			<td>:</td>
			<td>IDR 719,935.00</td>
		</tr>
		<tr>
			<td>Pengirim</td>
			<td>:</td>
							<td>*******528 EXATA SOLUSI KREATIF                              PT</td>
					</tr>
						<tr>
			<td>Penerima</td>
			<td>:</td>
							<td>*******977 - IFAN AZIZ PURNOMO</td>
					</tr>
								<tr>
			<td valign="TOP">Keterangan Pembayaran</td>
			<td valign="TOP">:</td>
			<td>GENSEN INDO 5-2 C09062026 </td>
		</tr>
				<tr>
			<td>Status</td>
			<td>:</td>
			<td>Berhasil</td>
		</tr>
					</table>
	<br><br><p>Terima kasih.<br><br><br><br>PT. Bank Negara Indonesia(Persero)Tbk<br></p></FONT><br>
	<FONT SIZE="-1"><i>Pemberitahuan ini dicetak secara komputer dan tidak memerlukan tanda tangan pejabat Bank</i></FONT>
	<br>==========================================================================================================<br><br>

	<FONT face="arial"><p>We would like to inform you the following transaction:<br></p><br>
	<table>
		<FONT face="arial">
		<tr>
			<td>BNI Reference Number</td>
			<td>:</td>
			<td>202606100010954807</td>
		</tr>
				<tr>
			<td>Customer Reference Number</td>
			<td>:</td>
			<td>90620260752010</td>
		</tr>
				<tr>
			<td>Date/Time</td>
			<td>:</td>
			<td>10-Jun-2026 10:03:00</td>
		</tr>
		<tr>
			<td>Transaction Type</td>
			<td>:</td>
			<td>Bulk Payment - In House Transfer</td>
		</tr>
		<tr>
			<td>Amount</td>
			<td>:</td>
			<td>IDR 719,935.00</td>
		</tr>
		<tr>
			<td>Remitter</td>
			<td>:</td>
							<td>*******528 EXATA SOLUSI KREATIF                              PT</td>
					</tr>
						<tr>
			<td>Beneficiary</td>
			<td>:</td>
							<td>*******977 - IFAN AZIZ PURNOMO</td>
					</tr>
								<tr>
			<td valign="TOP">Transaction Remark</td>
			<td valign="TOP">:</td>
			<td>GENSEN INDO 5-2 C09062026 </td>
		</tr>
				<tr>
			<td>Status</td>
			<td>:</td>
			<td>Success</td>
		</tr>
					</table>
	
	<br><br><p>Thank you.<br><br><br><br>PT. Bank Negara Indonesia(Persero)Tbk<br></p></FONT><br>
	<FONT SIZE="-1"><i>This notification is printed by computer and require no signature from Bank Officer</i></FONT>
	<br>==========================================================================================================<br><br>
</body>
</html>