<html>
	<body>
		<table>
			<tr>
				<td colspan="3">
					
<p>Dear Valued Customer,</p>

<p>We would like to inform you that your transaction for Inhouse Transfer - Mandiri Cash Management is successfully executed.</p>

<table width="869" border="0">
<tr><td width="194">Date/Time</td> <td width="15">:</td><td width="646">Feb 25, 2026 07:23:54 (GMT +7)</td>
<tr><td width="194">Corporate Name </td> <td width="15">:</td><td width="646">EXATA SOLUSI KREATIF</td>
<tr><td width="194">Transaction Type </td> <td width="15">:</td><td width="646">Debit</td>
<tr><td width="194">From Account</td> <td width="15">:</td><td width="646">1670008866864 - IDR - EXATA SOLUSI KREATIF</td>
<tr><td width="194">To Account</td> <td width="15">:</td><td width="646">0700012860784 - IDR - CHALVIN CAHYO PRATAM</td>
<tr><td width="194">Beneficiary Bank</td> <td width="15">:</td><td width="646">PT. Bank Mandiri Tbk.</td>
<tr><td width="194">Amount</td> <td width="15">:</td><td width="646">IDR 8,211,432.00</td>
<tr><td width="194">Charge </td> <td width="15">:</td><td width="646">0.00</td>
<tr><td width="194">Reference No</td> <td width="15">:</td><td width="646">-</td>
<tr><td width="194">Remark</td> <td width="15">:</td><td width="646">SPEED FEB KL2 C24022</td>
<tr><td width="194">Extended Payment Detail</td> <td width="15">:</td><td width="646">SPEED FEB KL2 C240226</td>
</table>

<p>Should you have any question regarding the transaction, feel free to contact us via email at mcm.operation@bankmandiri.co.id or call us at 14000.</p>

<p>Thank you for using Mandiri Cash Management.</p>

<p>Best regards,</p>

<p>Bank Mandiri</p><br/>

<p>Visit us at www.bankmandiri.co.id and keep using Mandiri Cash Management to do your transactions.</p><br/>


<hr/>


<subject>Subject:  Inhouse Transfer - Notifikasi Eksekusi Transaksi Multiple Transfer by File Upload</subject>
<p>Bapak/Ibu Nasabah yang Terhormat,</p>

<p>Kami ingin menginformasikan kepada Anda bahwa transaksi Anda untuk Inhouse Transfer - Mandiri Cash Management telah berhasil.</p>


<table width="869" border="0">
<tr><td width="194">Tanggal/Jam</td> <td width="15">:</td><td width="646">Feb 25, 2026 07:23:54 (GMT +7)</td>
<tr><td width="194">Nama Perusahaan</td> <td width="15">:</td><td width="646">EXATA SOLUSI KREATIF</td>
<tr><td width="194">Tipe Transaksi </td> <td width="15">:</td><td width="646">Debit</td>
<tr><td width="194">Dari Rekening</td> <td width="15">:</td><td width="646">1670008866864 - IDR - EXATA SOLUSI KREATIF</td>
<tr><td width="194">Ke Rekening</td> <td width="15">:</td><td width="646">0700012860784 - IDR - CHALVIN CAHYO PRATAM</td>
<tr><td width="194">Bank Penerima</td> <td width="15">:</td><td width="646">PT. Bank Mandiri Tbk.</td>
<tr><td width="194">Jumlah</td> <td width="15">:</td><td width="646">IDR 8,211,432.00</td>
<tr><td width="194">Biaya </td> <td width="15">:</td><td width="646">0.00</td>
<tr><td width="194">No Referensi</td> <td width="15">:</td><td width="646">-</td>
<tr><td width="194">Berita</td> <td width="15">:</td><td width="646">SPEED FEB KL2 C24022</td>
<tr><td width="194">Berita Tambahan</td> <td width="15">:</td><td width="646">SPEED FEB KL2 C240226</td>
</table>

<p>Jika Anda memiliki pertanyaan mengenai transaksi di atas, silahkan hubungi kami lewat email di mcm.operation@bankmandiri.co.id atau melalui call center di 14000.</p>

<p>Terima kasih telah menggunakan Mandiri Cash Management.</p>

<p>Hormat kami,</p>

<p>Bank Mandiri</p>

<p>Kunjungi kami di www.bankmandiri.co.id dan gunakan terus Mandiri Cash Management untuk bertransaksi.</p>
					<br>
					<br>
				</td>
			</tr>
		</table>
	</body>
</html>